#main{
    background: url(../images/bg.gif);
    background-position: left bottom;
    height: 100vh;
    width: 100vw;
}
/* header include profile pic */
header{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* nav bar  */
nav{
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    color: white;
}
#name{
    margin-top: 20px;
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.089);
    padding: 1%;
    
}
.navBar{
    margin: 1em;
    font-size: 2em;
    height: 10vh;
    width: 14vw;
    text-align: center;
    padding: 1%;
    background-color: black;
    border-radius: .25em;
}
.navBar:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}
/* profile pic style */
#profPic{
    height: 70%;
    margin-bottom: 1%;
    margin-right: 10%;
 }
/* drop down for profile on nav bar */
.projNav{
    font-size: .5em;
    display:none;
    position: absolute;
    padding: 1%;
}
#nav1:hover .projNav{
    display: block;
}
/* side pop up of website */
.webPre{
    border: solid white 1px;
    height: 40vh;
    width: 40vw;
    margin-left: 20%;
    box-shadow: .4em .4em .1em .1em grey;
}

footer{
    display: flex;
    flex-direction: row-reverse;
    height: 10vh;
}
#linkIn{
    height: 10vh;
    float: left;
    padding: 10px;
}
#github{
    height: 10vh;
    float: left;
    
}
a:link{
    color: none;
}
#modalDust{
    width: 300px;
    background-color: rgb(146, 134, 134);
    color: white;
    padding: 15px;
    border-radius: 5px;
    position: sticky;
    margin: 0 auto;
    margin-top: -40%;
    animation: fadeIn 1s;
}
#fade{
    opacity: .5;
}
#closeDust{
    background-color: black;
    width: 20px;
    padding: 4px;
    border-radius: 20px;
    float: right;
    margin-top: -2%;
}
#closeDust:hover{
    cursor: pointer;
}
#skillsPage{
    background-color: rgba(15, 15, 15, 0.952);
    height: 100vh;
    overflow: auto;
}
.skillsRow{
    height: 30vh;
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
}
.skills{

}
@keyframes fadeIn{
    from {opacity : 0}
    to {opacity : 1}
}
